@use "../mixins/reset.scss";
@use "../variables/paleta_cores.scss";
@use "../mixins/to_rem.scss";
@use "../mixins/tipografia.scss";




.box-tarefa{
    padding: to_rem.toRem(40px);
    .geral-tarefa{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 1rem;
    }
    .lista-tarefas{
        display: flex;
        margin-top: 16px;
        flex-direction: column;
        max-height: 600px;
        overflow: auto;
        gap: 16px;
     
    }
    .tarefa-nenhuma{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:3rem;
        width: 100%;
        height: 100%;
    }
    .todas-tarefas{
        margin-top: 2rem;
        border-radius: 0.9rem;
        
        .titulo-select-tarefa{
            h3{
                @include tipografia.subtitulo(30px, #000000);

            }
            align-items: center;
            display:flex;
            justify-content: space-between;
            gap: 1rem;
            
        }
    }
}